/* ANCHOR Шапка сайта */
.page-header {
  .container {
    // width: 1200px;
    // height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    padding-bottom: 25px;

    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $mobile) {
      width: $mobile;
      height: 60px;
    }

    @media screen and (min-width: $tablet) {
      width: $tablet;
      height: 80px;
    }

    @media screen and (min-width: $desctop) {
      width: $desctop;
    }
  }
}

@media screen and (min-width: $mobile) {
  .container {
    position: relative;
  }

  // width: $mobile;
  .menu-button {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button .icon-cross {
    display: none;
  }

  .menu-button.is-open .icon-cross {
    display: block;
  }

  .menu-button.is-open .icon-menu {
    display: none;
  }

  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;
    background-color: red;

    text-align: center;
    font-size: ;
  }

  .nav {
    // display: flex;
    // align-items: center;

    .item .current::after {
      content: '';
      width: auto;
      height: 4px;
      border-radius: 2px;
      display: block;
      margin-top: 28px;

      background-color: $accent-color;
    }
  }

  .address-icon {
    width: 30px;
    height: 30px;
    padding-right: 10px;

    fill: $contacts-color;
  }

  .link {
    &.current {
      padding-bottom: 0px;
    }
    &.contacts {
      padding-top: 32px;
      padding-bottom: 32px;
      display: flex;
      align-items: center;
    }
  }
}

// @media screen and (min-width: $tablet) {
//   width: $tablet;
// }

@media screen and (min-width: $desctop) {
  .nav {
    display: flex;
    align-items: center;

    // .item .current::after {
    //   content: '';
    //   width: auto;
    //   height: 4px;
    //   border-radius: 2px;
    //   display: block;
    //   margin-top: 28px;

    //   background-color: $accent-color;
    // }
  }

  .site {
    .link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .address-icon {
  //   width: 30px;
  //   height: 30px;
  //   padding-right: 10px;

  //   fill: $contacts-color;
  // }

  .address-item:not(:last-child) {
    margin-right: 30px;
  }

  // .link {
  //   &.current {
  //     padding-bottom: 0px;
  //   }
  //   &.contacts {
  //     padding-top: 32px;
  //     padding-bottom: 32px;
  //     display: flex;
  //     align-items: center;
  //   }
  // }

  .link,
  .contacts {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 1.14; */
    letter-spacing: 0.02em;

    color: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link {
    .nav &:hover,
    .nav &:focus,
    .nav &.current {
      color: $accent-color;
    }
  }

  .contacts {
    color: $contacts-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .address-icon {
    .contacts:hover &,
    .contacts:focus & {
      fill: $accent-color;

      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
